.header {
  height: 100px;
  background-color: rgb(21, 128, 92);
}
.h2_thread {
  color: white;
  float: left;
  font-size: 30px;
  padding: 0px 0px 0px 20px;
}
.thread_url {
  color: white;
  float: right;
  padding-right: 20px;
  line-height: 100px;
}
.thread {
  display: flex;
  justify-content: center;
}
/* .h2_new_thread {
  height: 100px;
  width: 500px;
} */
.h2_new {
  padding-left: 20px;
}
/* .title {
} */
.TitleList {
  width: 500px;
  height: 100px;
  border: 1px solid black;
  padding-left: 20px;
}
.title_item {
  line-height: 100px;
}